<!--Navbar-->
<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis active" href="/world" >World</a>
        <a class="nav-item nav-link link-body-emphasis" href="/us">U.S.</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
        <a class="nav-item nav-link link-body-emphasis " href="/createPost">Create</a>
    </nav>
</div>
<!--Headlines-->
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic"><%=locals.headlines[0].title%></h1>
        <p class="lead my-3"><%=locals.headlines[0].description%></p>
        <p class="lead mb-0"><a
                    href=<%if(locals.headlines[0].link!=="none"){
                                locals.headlines[0].link
                            }else{%>
                                "#"
                        <%}%>
                    class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 " style="color:<%=locals.headlines[1].category.color%>"><%=locals.headlines[1].category.name%></strong>
                <h3 class="mb-0"><%=locals.headlines[1].title%></h3>
                <div class="mb-1 text-body-secondary"><%=locals.headlines[1].date%></div>
                <p class="card-text mb-auto"><%=locals.headlines[1].description%></p>
                <a
                        href=<%if(locals.headlines[1].link!=="none"){
                            locals.headlines[1].link
                        }else{%>
                            "#"
                        <%}%>
                        class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <!--                replace with image-->
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                        Thumbnail
                    </text>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 " style="color:<%=locals.headlines[2].category.color%>"><%=locals.headlines[2].category.name%></strong>
                <h3 class="mb-0"><%=locals.headlines[2].title%></h3>
                <div class="mb-1 text-body-secondary"><%=locals.headlines[2].date%></div>
                <p class="card-text mb-auto"><%=locals.headlines[2].description%></p>
                <a
                        href=<%if(locals.headlines[2].link!=="none"){
                            locals.headlines[2].link
                        }else{%>
                            "#"
                        <%}%>
                        class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <!--                replace with image-->
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                        Thumbnail
                    </text>
                </svg>
            </div>
        </div>
    </div>
</div>
<!--Blogs,ETC-->
<div class="row g-5">
<!--Blogs-->
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            From the Firehose
        </h3>
        <% for (var i = 0; i < locals.blogposts.length; i++) {%>
            <article class="blog-post">
                <!--            Title-->
                <h2 class="display-5 link-body-emphasis mb-1"><%=locals.blogposts[i].title%></h2>
                <!--            author and date-->
                <p class="blog-post-meta"><%=locals.blogposts[i].date%> by <a href="#"><%=locals.blogposts[i].author%></a></p>
                <!--            abstract-->
                <p><%=locals.blogposts[i].abstract%></p>
                <hr>
                <!--            brief-->
                <p><%=locals.blogposts[i].brief%></p>
                <!--            subtopics-->
                <% for (var j = 0; j < locals.blogposts[i].subtopics.length; j++) {%>
                    <h2><%=locals.blogposts[i].subtopics[j].title%></h2>
                    <p><%=locals.blogposts[i].subtopics[j].text%></p>
                <% } %>
                <!--            summary-->
            </article>
        <% } %>

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
        </nav>

    </div>
<!--Right Sidebar-->
    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
<!--        About-->
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0"><%=locals.about.text%></p>
            </div>
<!--        Recent Posts-->
            <div>
                <h4 class="fst-italic">Recent posts</h4>
                <ul class="list-unstyled">
                    <% for (var i = 0; i < locals.recentPosts.length; i++) {%>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
<!--                                image-->
                                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#777"></rect>
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0"><%=locals.recentPosts[i].title%></h6>
                                    <small class="text-body-secondary"><%=locals.recentPosts[i].date%></small>
                                </div>
                            </a>
                        </li>
                    <%}%>
                </ul>
            </div>
<!--        Archives-->
            <div class="p-4">
                <h4 class="fst-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2021</a></li>
                    <li><a href="#">February 2021</a></li>
                    <li><a href="#">January 2021</a></li>
                    <li><a href="#">December 2020</a></li>
                    <li><a href="#">November 2020</a></li>
                    <li><a href="#">October 2020</a></li>
                    <li><a href="#">September 2020</a></li>
                    <li><a href="#">August 2020</a></li>
                    <li><a href="#">July 2020</a></li>
                    <li><a href="#">June 2020</a></li>
                    <li><a href="#">May 2020</a></li>
                    <li><a href="#">April 2020</a></li>
                </ol>
            </div>
<!--        Social Media Links-->
            <div class="p-4">
                <h4 class="fst-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>